@(itemForm: Form[Company],myAction: Call)(implicit request: RequestHeader, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main {
    
    <h1>Add a Company</h1>
    
    @form(action=myAction) {

        @helper.CSRF.formField
        <fieldset>
            @inputText(itemForm("name"), '_label -> "Computer name")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
